<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="~/Admin/vertical/index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    BookCar Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="~/Admin/vertical/index.html" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Dashboard</span></a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-copy"></i><span>Pages</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="~/Admin/vertical/pages-invoice.html">Invoice</a></li>
                        <li><a href="~/Admin/vertical/pages-starter.html">Starter Page</a></li>
                        <li><a href="~/Admin/vertical/pages-maintenance.html">Maintenance</a></li>
                        <li><a href="~/Admin/vertical/pages-faqs.html">FAQs</a></li>
                        <li><a href="~/Admin/vertical/pages-pricing.html">Pricing</a></li>
                        <li><a href="~/Admin/vertical/pages-login.html">Login</a></li>
                        <li><a href="~/Admin/vertical/pages-register.html">Register</a></li>
                        <li><a href="~/Admin/vertical/pages-recoverpw.html">Recover Password</a></li>
                        <li><a href="~/Admin/vertical/pages-lock-screen.html">Lock Screen</a></li>
                        <li><a href="~/Admin/vertical/pages-404.html">Error 404</a></li>
                        <li><a href="~/Admin/vertical/pages-500.html">Error 500</a></li>
                    </ul>
                </li>
                 

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>